* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(images/OQCI8I0.jpg);
  background-size: cover;
  height: 80vh;
}

#container {
  width: 80%;
  height: 100%;
  background: linear-gradient(rgba(255, 122, 122, 0.7), rgba(255 122, 122, 0.7)),
    url(images/memphis-colorful.png);
  padding: 30px;
  margin: auto;
  margin-top: 5%;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: 5px;
}

.grid-item-1 {
  padding-right: 75px;
  margin-top: 27%;
  justify-content: center;
  padding-left: 55px;
}

.grid-item-2 {
  margin-top: 5%;
}

#text-head {
  color: white;
  font-weight: 650;
  font-size: 35px;
  line-height: 1.2;
  letter-spacing: 1px;
}

#text-body {
  color: white;
  font-weight: 300;
}

.info {
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
}

.free-trial-text {
  width: 80%;
  color: white;
  background-color: #5d54a3;
  text-align: center;
  padding: 20px 0px;
  border-radius: 10px;
  margin: 0 0 30px 0;
  letter-spacing: 1.5px;
  font-size: small;
  box-shadow: 0 7px rgba(62, 60, 73, 0.3);
}

.form-container {
  width: 80%;
  background-color: white;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  padding: 10px 10px 10px;
  box-shadow: 0 7px rgba(62, 60, 73, 0.3);
}

.form {
  display: grid;
  place-items: center;
  margin: 40px 0 0 0;
}

input,
button {
  width: 90%;
  padding: 10px;
  border: 2px solid darkgray;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border: 3px solid #abd1f3;
}

#submit {
  background-color: #38cc8c;
  color: white;
  text-align: center;
  width: 90%;
  box-sizing: border-box;
  letter-spacing: 1.5px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  box-shadow: 0 3px rgba(20, 136, 86, 0.8);
}

#submit:hover {
  color: rgba(211, 230, 221, 0.87);
}

a {
  text-decoration: none;
  color: red;
  font-style: italic;
}

.terms {
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
}

@media (max-width: 768px) /* and (min-aspect-ratio: 7/4) */ {
  * {
    background-image: none;
    box-sizing: border-box;
  }

  body {
    background: linear-gradient(
        rgba(255, 122, 122, 0.7),
        rgba(255 122, 122, 0.7)
      ),
      url(images/memphis-colorful.png);
  }

  #container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
  }

  .grid-container {
    display: grid;
    margin: 10px;
    grid-template-columns: 2fr;
  }

  .grid-item-1 {
    margin: 75px 0px 40px;
    text-align: center;
    padding-right: 0;
    place-items: center;
    padding-left: 0;
  }

  .grid-item-2 {
    margin: 50px;
  }

  #text-head {
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 42px;
  }

  #text-body {
    font-size: 20px;
    font-weight: lighter;
  }

  .info {
    margin: 15px;
    line-height: 27px;
  }

  .free-trial-text {
    text-align: center;
    margin-bottom: 35px;
    margin-right: 0;
    padding: 22px;
    width: 100%;
  }

  .form-container {
    margin-right: 0;
    padding: 20px;
    display: block;
    width: 100%;
  }

  input,
  button {
    width: 95%;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 15px;
  }

  #submit {
    width: 95%;
  }
}

@media (max-width: 480px) and (orientation: portrait) {
  * {
    background-image: none;
  }

  body {
    background: linear-gradient(
        rgba(255, 122, 122, 0.7),
        rgba(255 122, 122, 0.7)
      ),
      url(images/memphis-colorful.png);
  }

  #container {
    width: 460px;
    height: 500px;
    padding: 0;
    margin: 0;
  }

  .grid-container {
    display: grid;
    margin: 10px;
    grid-template-columns: 2fr;
  }

  .grid-item-1 {
    margin: 75px 0px 20px;
    text-align: center;
    /* font-weight: 600; */
    padding-right: 0;
    justify-content: center;
    padding-left: 0;
  }

  #text-head {
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 0.5px;
    line-height: 35px;
  }

  #text-body {
    font-weight: 400;
  }

  .info {
    line-height: 25px;
    letter-spacing: 1px;
  }

  .free-trial-text {
    text-align: center;
    margin-bottom: 35px;
    margin-right: 0;
    width: 100%;
  }

  .form-container {
    margin-right: 0;
    width: 100%;
  }

  input,
  button {
    width: 95%;
  }

  #submit {
    width: 95%;
  }
}
